<a href="https://colab.research.google.com/github/iam-sarthak/BigData_MCA/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Tid': [1, 2, 3, 4, 5,6,7,8,9,10],
    'Refund': ['yes', 'no', 'no', 'yes', 'no','no','yes','no','no','no'],
    'Marital Status': ['married', 'single', 'married', 'single', 'divorced','married','divorced','single','married','single'],
    'Taxable Income': [125000, 100000, 70000, 120000, 95000,60000,220000,85000,75000,90000],
    'Cheat': ['no', 'no', 'yes', 'no', 'yes','no','no','yes','no','yes']
}

df = pd.DataFrame(data)

print(df)

   Tid Refund Marital Status  Taxable Income Cheat
0    1    yes        married          125000    no
1    2     no         single          100000    no
2    3     no        married           70000   yes
3    4    yes         single          120000    no
4    5     no       divorced           95000   yes
5    6     no        married           60000    no
6    7    yes       divorced          220000    no
7    8     no         single           85000   yes
8    9     no        married           75000    no
9   10     no         single           90000   yes

In [2]:
rows = df.iloc[[0, 4, 7, 8]]
print(rows)

   Tid Refund Marital Status  Taxable Income Cheat
0    1    yes        married          125000    no
4    5     no       divorced           95000   yes
7    8     no         single           85000   yes
8    9     no        married           75000    no

In [4]:
df2 = pd.read_csv('https://github.com/AnjulaMehto/MCA/blob/main/company_sales_data.csv?raw=true')
print(df2)

    month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0              1       2500      1500        5200         9200     1200
1              2       2630      1200        5100         6100     2100
2              3       2140      1340        4550         9550     3550
3              4       3400      1130        5870         8870     1870
4              5       3600      1740        4560         7760     1560
5              6       2760      1555        4890         7490     1890
6              7       2980      1120        4780         8980     1780
7              8       3700      1400        5860         9960     2860
8              9       3540      1780        6100         8100     2100
9             10       1990      1890        8300        10300     2300
10            11       2340      2100        7300        13300     2400
11            12       2900      1760        7400        14400     1800

    moisturizer  total_units  total_profit
0          1500        21100        211000
1          1200        18330        183300
2          1340        22470        224700
3          1130        22270        222700
4          1740        20960        209600
5          1555        20140        201400
6          1120        29550        295500
7          1400        36140        361400
8          1780        23400        234000
9          1890        26670        266700
10         2100        41280        412800
11         1760        30020        300200